body { 
    background-image:linear-gradient(rgb(59, 59, 59), rgb(203, 255, 168)) ;
    background-attachment: fixed;
    display: grid;
    place-items: center;

}
h1 {
    background-image: url(imgs/hack.gif);
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text ;
    font-size: 50pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
p {
    color: rgb(0, 0, 0);
    font-size: 50px;
}
 .sel {
    background-image: url(imgs/hack2.gif);
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text ;
    margin-left: 200px;
    scrollbar-width: none;
    border: none;
    font-size: 25px;
 }

 .num {
    background-image: radial-gradient(rgb(0, 0, 0),rgb(21, 255, 0));
    color: aliceblue;
    border: none;
    border-radius: 50px;
    font-size: 25px;
    margin-right: 80px;

 }

 input{
    background-image: url(imgs/hack.gif);
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50px;
    font-size: 25px;
 }


